site_name: 'JumpServer 文档'
site_url: 'https://docs.jumpserver.org'
site_author: 'jumpserver'
site_description: "JumpServer 开源堡垒机的在线文档"

repo_name: 'jumpserver/jumpserver'
repo_url: 'https://github.com/jumpserver/jumpserver'
edit_uri: ''

theme:
  name: 'material'
  logo: 'img/logo.png'
  favicon: 'img/facio.ico'
  language: 'zh'
  palette:
    - scheme: default
      accent: 'red'
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      accent: 'red'
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - navigation.tracking
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
  font: false
  custom_dir: 'theme'
  icon:
    repo: fontawesome/brands/github

nav:
  - 产品介绍: index.md
  - 快速入门: quick_start.md
  - 安装部署:
    - 1Panel 模式部署:
        - 部署过程: installation/1panel_setup/setup_js.md
        - 运维管理: installation/1panel_setup/config_js.md
    - Linux 单机部署:
        - 环境要求: installation/setup_linux_standalone/requirements.md
        - 离线安装: installation/setup_linux_standalone/offline_install.md
        - 在线安装: installation/setup_linux_standalone/online_install.md
        - 在线升级: installation/setup_linux_standalone/online_upgrade.md
        - 离线升级: installation/setup_linux_standalone/offline_upgrade.md
    - Kubernetes  Helm 模式部署:
        - 在线安装: installation/setup_kubernetes/helm_online_install.md
        - 在线升级: installation/setup_kubernetes/helm_online_upgrade.md
  - 用户手册:
    - 管理员手册:
      - 控制台:
        - 用户管理:
          - 创建用户:
          - 用户管理:
        - 用户组管理:
          - 创建用户组:
          - 用户组管理:
        - 资产管理: 
          - 资产列表:
        - 账号管理: 
          - 资产列表:
  - 常见问题:
    - 产品 FAQ: faq/faq.md
    - 安全建议: faq/security.md
    - 企业版: https://www.jumpserver.org/enterprise.html
  - 开发文档:
    - API 文档: dev/rest_api.md
    - 交互命令: dev/shell.md
  - 用户案例: user_stories.md
  - 更新日志: change_log.md
  - 技术咨询: https://jinshuju.net/f/sQ91MK
  - 联系我们: contact.md

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: ⚓︎
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - theme/.icons
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.saneheaders
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  jumpserver:
    tag: v4.10.4
  search:
    separator: '[\s\-\.]+'
    language: 'zh'
    Content-Encoding: gzip
    boost: 100
  generator: false
  version:
    default: master
    provider: mike
  analytics:
    provider: google
    property: UA-147297392-3
  social:
    - icon: Bilibili_Logo_Blue
      link: https://space.bilibili.com/510493147?spm_id_from=333.337.0.0
    - icon: fontawesome/brands/github
      link: https://github.com/jumpserver
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/jumpserver/
    - icon: fontawesome/solid/envelope
      link: mailto:support@fit2cloud.com
    - icon: fontawesome/brands/skype
      link: tel://400-052-0755
    - icon: fontawesome/brands/qq
      link: https://qm.qq.com/cgi-bin/qm/qr?k=om7dOmqflNsfzegPBODIxooO_dMDGiD1&jump_from=webapi

extra_css:
  - css/extra.css
  - css/termynal.css
  - css/custom.css
  - stylesheets/extra.css

extra_javascript:
  - js/termynal.js
  - js/custom.js

copyright: Copyright &copy; 2014-2025 <a href="https://www.fit2cloud.com">杭州飞致云信息科技有限公司</a>, All Rights Reserved. <a href="http://www.beian.miit.gov.cn" target="_blank">京ICP备15023818号</a>
plugins:
    - search:
        lang:
          - en
          - ja
        separator: '[\s\-\.]+'
    - macros
