site_name: 'JumpServer 文档'
site_url: 'https://docs.jumpserver.org'
site_author: 'wojiushixiaobai'
site_description: "JumpServer 是全球首款开源的堡垒机"

repo_name: 'jumpserver/jumpserver'
repo_url: 'https://github.com/jumpserver/jumpserver'
edit_uri: ''

theme:
  name: 'material'
  logo: 'img/logo.png'
  favicon: 'img/facio.ico'
  language: 'zh'
  palette:
    - scheme: default
      accent: 'red'
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      accent: 'red'
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
  font: false
  custom_dir: 'theme'
  icon:
    repo: fontawesome/brands/github

nav:
  - 总体介绍: index.md
  - 安装配置:
    - 安装部署: install/setup_by_fast.md
    - 负载均衡: install/setup_by_lb.md
    - 升级文档: install/upgrade/upgrade.md
    - 迁移文档: install/migration.md
    - 安全建议: install/install_security.md
  - 管理文档:
    - 快速入门: admin-guide/quick_start.md
    - 资产要求:
        - Telnet: admin-guide/assets/telnet.md
        - Linux SSH: admin-guide/assets/linux_ssh.md
        - Linux VNC: admin-guide/assets/linux_vnc.md
        - macOS VNC: admin-guide/assets/macos_vnc.md
        - Windows SSH: admin-guide/assets/windows_ssh.md
        - Windows VNC: admin-guide/assets/windows_vnc.md
        - Windows RDP: admin-guide/assets/windows_rdp.md
    - 应用要求:
        - MySQL: admin-guide/app/mysql.md
        - Kubernetes: admin-guide/app/kubernetes.md
    - 身份认证:
        - SSO: admin-guide/authentication/sso.md
        - CAS: admin-guide/authentication/cas.md
        - MFA: admin-guide/authentication/mfa.md
        - LDAP: admin-guide/authentication/ldap.md
        - SAML2: admin-guide/authentication/saml2.md
        - OpenID: admin-guide/authentication/openid.md
        - Radius: admin-guide/authentication/radius.md
        - 钉钉: admin-guide/authentication/dingtalk.md
        - 微信: admin-guide/authentication/wechat.md
        - 飞书: admin-guide/authentication/feishu.md
    - 反向代理: admin-guide/proxy.md
    - 国密改造: admin-guide/gmssl.md
    - 参数说明: admin-guide/env.md
    - 存储说明: admin-guide/storages.md
  - 开发文档:
    - API 文档: dev/rest_api.md
    - 编译文档: dev/build.md
    - 交互命令: dev/shell.md
  - 用户文档:
    - 个人页面:
      - 首次登录: user-guide/login/login-first.md
      - 概览页面: user-guide/login/dashboard.md
      - 个人信息: user-guide/users/profile.md
    - 终端登录: user-guide/login/terminal-login-SSH.md
    - 我的资产: user-guide/assets/user-asset.md
    - 我的应用:
      - 远程应用: user-guide/apps/user-remoteapp.md
      - 数据库: user-guide/apps/user-database.md
      - Kubernetes: user-guide/apps/user-kubernetes.md
    - 批量命令: user-guide/ops/command-executions/create.md
    - Web 终端:
      - 主题设置: user-guide/terminal/web-terminal-theme.md
      - 会话分享: user-guide/terminal/web-terminal-share.md
      - 文件管理:
        - SSH 协议: user-guide/terminal/filemanagement/ssh/filemanagement.md
        - RDP 协议: user-guide/terminal/filemanagement/rdp/webgui.md
      - 设置: user-guide/terminal/web-terminal-config.md
    - 文件管理: user-guide/terminal/filemanagement/ssh/filemanagement.md
  - 帮助文档:
    - 升级问题: faq/upgrade.md
    - 组件问题: faq/other.md
    - 资源下载: about/download.md
  - 更新说明: https://github.com/jumpserver/jumpserver/releases
  - 关于我们:
    - 贡献列表: about/contributor.md
    - 联系方式: about/contact.md
    - 技术咨询: https://jinshuju.net/f/sQ91MK

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: ⚓︎
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - theme/.icons
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.saneheaders
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  jumpserver:
    version: v2.28.1
    jmservisor: v1.2.5
    wisp: v0.0.10
  installer:
    version: 138
  search:
    separator: '[\s\-\.]+'
    language: 'zh'
    Content-Encoding: gzip
    boost: 100
  generator: false
  version:
    default: master
    provider: mike
  analytics:
    provider: google
    property: UA-147297392-3
  social:
    - icon: Bilibili_Logo_Blue
      link: https://www.bilibili.com/video/BV19D4y1S7s4
    - icon: fontawesome/brands/github
      link: https://github.com/jumpserver
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/jumpserver/
    - icon: fontawesome/solid/envelope
      link: mailto:support@fit2cloud.com
    - icon: fontawesome/brands/skype
      link: tel://400-052-0755
    - icon: fontawesome/brands/qq
      link: https://qm.qq.com/cgi-bin/qm/qr?k=om7dOmqflNsfzegPBODIxooO_dMDGiD1&jump_from=webapi

extra_css:
  - css/termynal.css
  - css/extra.css

extra_javascript:
  - js/termynal.js
  - js/custom.js

copyright: Copyright &copy; 2014-2022 <a href="https://www.fit2cloud.com">杭州飞致云信息科技有限公司</a>, All Rights Reserved. <a href="http://www.beian.miit.gov.cn" target="_blank">京ICP备15023818号</a>
plugins:
  - search
  - macros
