.progress-label {
  position: absolute;
  text-align: center;
  font-weight: 700;
  width: 100%;
  margin: 0;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}
.md-header{
  background-color: #2b937c;
  top: 48px;
}
.md-main__inner {
  margin-top: 3rem;
}
.md-footer{
  background-color: #2b937c;
}
.md-nav__item .md-nav__link--active {
  color: #2b937c;
}
.md-typeset a {
  color: #2b937c;
}
.progress-bar {
  height: 1.2rem;
  float: left;
  background-color: #2979ff;
}

.progress {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  height: 1.2rem;
  background-color: #eeeeee;
  position: relative;
}

.progress.thin {
  margin-top: 0.9rem;
  height: 0.4rem;
}

.progress.thin .progress-label {
  margin-top: -0.4rem;
}

.progress.thin .progress-bar {
  height: 0.4rem;
}

.progress-100plus .progress-bar {
  background-color: #00e676;
}

.progress-80plus .progress-bar {
  background-color: #fbc02d;
}

.progress-60plus .progress-bar {
  background-color: #ff9100;
}

.progress-40plus .progress-bar {
  background-color: #ff5252;
}

.progress-20plus .progress-bar {
  background-color: #ff1744;
}

.progress-0plus .progress-bar {
  background-color: #f50057;
}

/* 动态图标 */
@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}

.heart {
  animation: heart 1000ms infinite;
}

/* 自定义 Admonitions */
:root {
  --md-admonition-icon--tx-heart: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 20.408c-.492.308-.903.546-1.192.709-.153.086-.308.17-.463.252h-.002a.75.75 0 01-.686 0 16.709 16.709 0 01-.465-.252 31.147 31.147 0 01-4.803-3.34C3.8 15.572 1 12.331 1 8.513 1 5.052 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262A31.146 31.146 0 0114 20.408z"/></svg>')
}

/* 标题颜色 */
.md-typeset .admonition.tx-heart,
.md-typeset details.tx-heart {
  border-color: rgb(255, 192, 203);
}

/* 侧边颜色 */
.md-typeset .tx-heart > .admonition-title,
.md-typeset .tx-heart > summary {
  background-color: rgba(255, 182, 193, 0.1);
}

/* 图标颜色 */
.md-typeset .tx-heart > .admonition-title::before,
.md-typeset .tx-heart > summary::before {
  background-color: rgb(255, 20, 147);
  -webkit-mask-image: var(--md-admonition-icon--tx-heart);
          mask-image: var(--md-admonition-icon--tx-heart);
}

.md-typeset hr {
  margin: 1em;
  border-bottom: .05rem var(--md-default-fg-color--lightest);
}
