{% extends "base.html" %}

{% block header %}
{% include "f2c-header.html" %}
{{ super() }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url }}/css/lightgallery.min.css">

    <link href="{{ base_url }}/css/f2c-header.css" rel="stylesheet" type="text/css" />

    {{ super() }}

{% endblock styles %}

{% block content %}
  {{ super() }}
  <footer class="mdx-content__footer">
    <a href="{{ url }}">
      <hr>
      <span class="twemoji">
        {% include ".icons/logo.svg" %}
      </span>
      <span class="twemoji">
        {% include ".icons/material/plus.svg" %}
      </span>
      <span class="twemoji mdx-heart">
        {% include ".icons/octicons/heart-fill-24.svg" %}
      </span>
      <hr>
    </a>
  </footer>
{% endblock %}


{% block footer %}
    <!-- copyright -->
    <footer class="md-footer">
      <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
          <div class="md-footer-copyright">
            {% if config.copyright %}
              <div class="md-footer-copyright__highlight">
                {{ config.copyright }}
              </div>
            {% endif %}
          </div>
          {% include "partials/social.html" %}
        </div>
      </div>
    </footer>
    <section id="footer_start">
      <div class="footer-start-box" >
        <div class="footer-start-title">
          <p role="img" aria-label="celibrate" style="font-size: 14px"><a target="_blank" href="https://jinshuju.net/f/sQ91MK" style="color: white"><i class="mdi mdi-download pr-1" style="font-size: 14px"></i>技术咨询</a>️</p>
        </div>
      </div>
   </section>
{% endblock footer %}

{% block libs %}
    {{ super() }}
    <script src="{{ base_url }}/js/lightgallery.min.js"></script>

    <script src="{{ base_url }}/js/jquery-3.5.1.min.js"></script>
    <script src="{{ base_url }}/js/mega.js"></script>

{% endblock libs %}

{% block scripts %}
    {{ super() }}
    <script>
    var elements = document.getElementsByClassName("lightgallery");
    for(var i=0; i<elements.length; i++) {
       lightGallery(elements[i]);
    }
    </script>
{% endblock scripts %}
