@media print {
  html {
    font-size: 95%;
    font-family: 'Roboto', 'Noto Sans CJK JP', sans-serif;
  }

  body {
    font-size: 10.5pt;
    font-family: 'Roboto', 'Noto Sans CJK JP', sans-serif;
  }

  article {
    font-size: 0.8rem;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label {
    font-family: 'Roboto', 'Noto Sans CJK JP', sans-serif;
  }

  pre,
  code,
  var,
  samp,
  kbd,
  tt {
    font-family: 'Roboto Mono', 'Noto Sans Mono CJK JP', monospace, sans-serif;
    font-size: 0.8em;
  }

  pre code,
  pre var,
  pre samp,
  pre kbd,
  pre tt {
    font-size: 100%;
  }
}
