article {
  h1 {
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: 2px solid rgb(129, 129, 129);
  }

  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(118, 136, 174);
  }

  h3 {
    font-size: 1.15rem;
    // font-weight: bold;
    border-bottom: 0.8px solid rgb(71, 73, 76);
  }

  h4 {
    font-size: 1.0rem !important;
    font-weight: normal !important; // 显式取消加粗
    font-weight: bold;
  }

  h5 {
    font-size: 1.0rem !important;
    // font-weight: bold;
  }

  h6 {
    font-size: 1.0rem !important;
    // font-weight: bold;
  }

  h1>.pdf-order,
  h2>.pdf-order,
  h3>.pdf-order {
    padding-left: 6px;
    // padding-right: 0.8rem;
  }
}
